/* RogiArmDashboard.css */

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: gray;
  padding-bottom: 60px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}

.dashboard-body {
  display: flex;
  flex: 1;
  background-color: #bbb;
}

.dashboard-sidebar {
  width: 200px;
  background-color: #d3d3d3;
  padding: 20px;
  color: #222;
}

.dashboard-sidebar h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.date-entry {
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
  padding: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.date-entry:hover,
.date-entry.active {
  background-color: #999;
  color: #fff;
}

.dashboard-main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-subpanels {
  display: flex;
  gap: 20px;
}

.panel {
  background-color: #f0f0f0;
  color: #222;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.panel.large {
  flex: 1;
  min-height: 250px;
}

.video {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: red;
}

.panel.small {
  flex: 1;
  min-height: 150px;
}
